mixin messageItemRecieve(msg)
	div.message.message_receive
		div.message__header= msg.user
		div.message__body= msg.message

mixin messageItemSend(msg)
	div.message.message_send
		div.message__header= msg.user
		div.message__body= msg.message

for msg in messages
	+messageItemSend(msg)
		